/***** layout *****/
.root-grid {
  --grid-line-color: #292929;

  height: 100dvh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template:
    'header header header'
    'aside main main'
    'footer footer footer';
  grid-template-columns: 240px 1fr 1fr;
  grid-template-rows: 64px 1fr 72px;
}
.root__header {
  grid-area: header;
  display: flex;
  border-bottom: 1px solid var(--grid-line-color);
}
.root__aside {
  grid-area: aside;
  border-right: 1px solid var(--grid-line-color);
}
.root__footer {
  grid-area: footer;
  border-top: 1px solid var(--grid-line-color);
}
.root__main {
  grid-area: main;
  display: flex;
  overflow: hidden;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: red;
  border: 1px solid #eee;
}

@media (max-width: 768px) {
  .root__aside {
    display: none;
  }
  .root__main {
    grid-column: 1/-1;
    flex-direction: column;
    .media-player {
      overflow: hidden;
      height: 30%;
    }
  }
}
