.root-grid {
    --grid-line-color: #292929;

    height: 100dvh;
    width: 100vw;
    overflow: hidden;

    display: grid;
    grid-template:
        'header header header'
        'aside main main'
        'footer footer footer';
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: max-content 1fr 72px;
}

.root__header {
    grid-area: header;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grid-line-color);
    background-color: #111; /* REVIEW - color */
    height: 4rem;

    & h1 {
        padding-left: 1rem;
    }
}

.root__aside {
    grid-area: aside;
    border-right: 1px solid var(--grid-line-color);
}

.root__footer {
    grid-area: footer;
    border-top: 1px solid var(--grid-line-color);
}

.root__main {
    grid-area: main;
    display: flex;
    gap: 1em;
    overflow: hidden;
    padding: 1em;
}

.media-player-wrapper {
    overflow: hidden;
    height: 100%;
    flex: 1;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.playlist-wrapper {
    min-width: 200px;
    max-width: 800px;
    flex: 1;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    min-width: 240px;
    .nav-link,
    .new-playlist-btn {
        cursor: pointer;
        padding: 0.8em 1em;
        border-radius: 8px;

        &:hover {
            background-color: #222;
            transition: background-color 100ms ease-in-out;
        }
        &.active {
            background-color: #222;
        }
    }

    .navbar__divider {
        height: 1px;
        background-color: #292929;
        margin: 1rem 0;
    }
}

.new-playlist-btn {
    margin-bottom: 1rem;
    background-color: #333;
    border-radius: 2rem;
    text-align: center;
}

@media (max-width: 768px) {
    .root__header {
        padding: 0;

        & h1 {
            padding: 0;
        }
    }
    .root__aside {
        visibility: hidden;
        position: absolute;
        z-index: 100;
    }
    .root__main {
        gap: 0;
        padding: 0;
        grid-column: 1/-1;
        flex-direction: column;
        .media-player-wrapper {
            overflow: hidden;
            margin: 0;
            height: 30%;
        }
        /* .playlist-wrapper {} */
    }

    .root__aside .navbar {
        transition: visibility 1s ease-in-out;
        animation: navbarAnimReverse 200ms ease-in-out 0s 1 normal both;
        visibility: hidden;
        position: fixed;
        inset: 0;
        top: 4rem;
        width: 40vw;
        background-color: #111;
    }

    .root__aside.open .navbar {
        transition: visibility 1s ease-in-out;
        animation: navbarAnim 200ms ease-in-out 0s 1 normal both;
        visibility: visible;
    }
}

@keyframes navbarAnim {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes navbarAnimReverse {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}
