/***** layout *****/
.root-grid {
  --grid-line-color: #292929;

  height: 100dvh;
  width: 100vw;
  overflow: hidden;

  display: grid;
  grid-template:
    'header header header'
    'aside main main'
    'footer footer footer';
  grid-template-columns: 240px 1fr 1fr;
  grid-template-rows: 64px 1fr 72px;
}

.root__header {
  grid-area: header;
  display: flex;
  border-bottom: 1px solid var(--grid-line-color);
}

.root__aside {
  grid-area: aside;
  border-right: 1px solid var(--grid-line-color);
}

.root__footer {
  grid-area: footer;
  border-top: 1px solid var(--grid-line-color);
}

.root__main {
  grid-area: main;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  padding: 1rem;
}

.media-player {
  overflow: hidden;
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  place-content: center;
}

.playlist {
  min-width: 300px;
  max-width: 800px;
  flex: 1;
}

.navbar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  .nav-link {
    cursor: pointer;
    padding: 0.8em 1em;
    border-radius: 8px;
    &:hover {
      background-color: #111;
    }
    &.active {
      background-color: #111;
    }
  }
}

@media (max-width: 768px) {
  .root__aside {
    display: none;
  }
  .root__main {
    gap: 0;
    padding: 0;
    grid-column: 1/-1;
    flex-direction: column;
    .media-player {
      overflow: hidden;
      margin: 0;
      height: 30%;
    }
  }
}
